<div class="center">
    <h1>Home</h1>
    <!-- put some data to the store -->
    <button mat-raised-button color="primary" *ngIf="isColapse" (click)="colapseToggle()">Open</button>
    <button mat-raised-button color="warn" *ngIf="!isColapse" (click)="colapseToggle()">Close</button>
    <div class="form" *ngIf="!isColapse">
        <label>name</label>
        <input type="text" placeholder="name" #name>
        <label>url</label>
        <input type="text" placeholder="url" #url>
        <button mat-raised-button color="primary" (click)="addUser(name.value,url.value)">Add</button>
    </div>
    <p>  accusantium beatae eveniet corporis mollitia? Nihil, corporis. Nobis quis vitae sint dignissimos aut.</p>
    <p>  accusantium beatae eveniet corporis mollitia? Nihil, corporis. Nobis quis vitae sint dignissimos aut.</p>
</div>
